{{#each hits}}
<div class="photo-card card">
  
  
    <article>
      <a href="{{largeImageURL}}" width = '40' height = '40'> 
        <img class="card-imd-top" src="{{webformatURL}}" alt="{{tags}}" loading="lazy" />
      </a>
    <div class="info card-body">
    {{!-- {{#each hits}} --}}
    <p class="info-item">
      <b>Likes</b>
      {{likes}}
    </p>
    {{!-- {{/each}} --}}
    <p class="info-item">
      <b>Views </b>
      {{views}}
    </p>
    <p class="info-item">
      <b>Comments </b>
      {{comments}}
    </p>
    <p class="info-item">
      <b>Downloads </b>
      {{downloads}}
    </p>
    </div>
    </article>
      
  
  
</div>
{{/each}}